.ejercicio1 {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;

    #parrafo {
        transition: background-color 2s, color 1s;
    }
}

.ejercicio2 {
    #miDiv {
        width: 20vw;
        height: 200px;
        border: 3px solid black;
        transition: width 0.3s;
    }
}

.ejercicio3 {
    /* no tiene css */
}

.ejercicio4 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;

    .container {
        text-align: center;
    }

    .square {
        width: 100px;
        height: 100px;
        background-color: #3498db;
        margin-bottom: 20px;
        transition: all 0.5s ease;
    }
}

/* .rotate {
    animation: rotateAnimation 1s forwards;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
} */

.ejercicio5 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;

    .container5 {
        text-align: center;
    }

    .box {
        width: 200px;
        height: 200px;
        border: 5px solid #3498db;
        background-color: red;
        margin-bottom: 20px;
    }
}

.ejercicio6 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;

    .container6 {
        text-align: center;
    }

    .box6 {
        width: 200px;
        height: 200px;
        background-color: #3498db;
        margin-bottom: 20px;
        opacity: 1;
        transition: opacity 1s ease;
    }
}

.ejercicio7y8 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;

    .container7 {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    td {
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #3498db;
        font-size: 16px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #67b0e1;
        color: white;
        border: none;
        border-radius: 5px;
    }

    button:hover {
        background-color: #2980b9;
    }
}

.ejercicio9 {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;

    #miDiv9 {
        width: 20vw;
        height: 200px;
        border: 3px solid black;
        background-color: red;
        padding: 20px;
    }

    #randomButton9 {
        z-index: 12;
    }
}